<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Burger Menu</title>
</head>

<body>
	<img src="/assets/img/burger.jpg" width="400px" style="display: block; margin: 0 auto;"  id="burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="green-text text-lighten-4">© Super Burger Team</span>
				<a class="green-text text-lighten-4 right" href="https://github.com/duanebednorz/burgerApp">Git Hub</a>
			</div>
		</div>
	</footer>
</body>
</html>